<h1>Welcome to Zamo-Express TODO</h1>
<p><em>Organize and Share your tasks in a simple and efficient way</em></p>
<small>Let you collaborate with other in achieving your goals</small>

<p>You have an account? <a href="/users/login">Login</a></p>
<p>Dont have an account? <a href="/users/registration">Register</a></p>