<h1>View Task</h1>
<% if(JSON.stringify(currentUser._id) === JSON.stringify(task.owner)) { %>
    <h3><%= task.title %></h3>
    <div>
        <% if( subtasks.length ) { %>
            <ul>
                <% subtasks.forEach(function(subtask){ %>
                    <li>
                        <h4>
                            <%= subtask.title %>&nbsp;
                            <a href="#">Edit</a>&nbsp;|&nbsp;
                            <a href="#">Delete</a>&nbsp;|&nbsp;
                            <a href="#">Completed</a>
                        </h4>
                        <p><%= subtask.description %></p>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>-- No subtask available --</p>
        <% }%>
    </div>
<% } else { %>
    <p>You are not authorized to view this page</p>
<% } %>

