<%- include("../../_header") %>

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h3>Confirm Delete</h3>
            <p class="text-danger"><b>NOTE: </b>This action can be irreversible</p>
            <p><b>Are you sure you want to delete this Subtask?</b></p>
            <span><a href="/tasks/subtasks/delete/<%= subtaskID %>" class="btn btn-danger">Yes</a></span><span class="mx-3"><a href="/tasks/view/<%= subtaskID %>"class="btn btn-primary">No</a></span>
        </div>
    </div>
</div>

<%- include("../../_footer") %>