<h1>Confirm that you have completed this subtask</h1>
<small>This action can be irreversible</small>
<p>Are you sure you want to mark this subtask as completed?</p>
<span><a href="/tasks/subtasks/complete/<%= subtaskID %>">Yes</a></span>&nbsp;&nbsp;<span><a href="/tasks/view/<%= subtaskID %>">No</a></span>