<h1>Confirm Delete</h1>
<p>Are you sure you want to delete this Subtask?</p>
<span><a href="/tasks/subtasks/delete/<%= subtaskID %>">Yes</a></span>&nbsp;&nbsp;<span><a href="/tasks/view/<%= subtaskID %>">No</a></span>