<h1>User Registration Page</h1>
<form action="/users/registration" method="POST">
    <div>
        <label for="firstname">Firstname</label>
        <input type="text" name="firstname" id="firstname" placeholder="e.g Ramadhani">
    </div>

    <div>
        <label for="middlename">Middlename</label>
        <input type="text" name="middlename" id="middlename" placeholder="e.g Juma">
    </div>

    <div>
        <label for="firstname">Lastname</label>
        <input type="text" name="lastname" id="lastname" placeholder="e.g Shemahonge">
    </div>

    <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="e.g ramashema@domain.com">
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </div>

    <div>
        <input type="submit" role="button" value="Register">
    </div>
</form>